@{
    ViewData["Title"] = "About Us";
}

<div class="banner-section">
    <div class="row">
        <div class="col-md-6">
            <h2 class="text-primary">Our Story</h2>
            <p class="lead">We started this website with the aim of empowering women and providing them with a platform where they can find products and services that cater to their unique needs. Our team of experts has worked tirelessly to curate a collection of high-quality products that are not only functional but also stylish.</p>
            <p class="lead">We believe that every woman deserves to feel confident and beautiful, and our mission is to help them achieve that through our products and services. We strive to create a welcoming and inclusive community where women can come together to share their experiences and support each other.</p>
        </div>
        <div class="col-md-6">
            <img src="~/img/latest-1.jpg" alt="Our Team" class="img-fluid">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-primary mt-5">Our Vision</h2>
            <p class="lead">Our vision is to become the go-to destination for women who are looking for high-quality products and services that cater to their unique needs. We want to create a community where women can come together to share their experiences and support each other.</p>
            <p class="lead">We believe that every woman deserves to feel confident and beautiful, and we want to help them achieve that through our products and services. We are committed to providing excellent customer service and ensuring that our customers are satisfied with every purchase they make.</p>
        </div>
    </div>
</div>