@model OnlineStoreForWoman.Models.Product

@{
    ViewData["Title"] = "Edit Product";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Edit Product</h1>
<form id="editForm" asp-action="Edit" method="post" asp-route-id="@Model.Id">
    <div class="box box-primary">
        <div class="box-body">


    <div class="form-group">
        <input type="hidden" asp-for="Id" />
        <label asp-for="Name" class="control-label">Name</label>
        <input asp-for="Name" class="form-control" value="@Model.Name" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>


    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>
<div>
    <a href="/Product/Index">Back to List</a>
</div>

@section Scripts {
    <script>
        
        $(function () {
            // Handle form submission using AJAX
            $('#editForm').submit(function () {
                var productName = $('#Name').val();
                if (!productName) {
                    e.preventDefault(); // Prevent the form from submitting
                    alert('Please enter a product name.');
                    return;
                }
                var unitPrice = $('#UnitPrice').val();
                if (!unitPrice) {
                    e.preventDefault(); // Prevent the form from submitting
                    alert('Please enter a product Unit Price.');
                    return;
                }

                var note = $('#Note').val();
                if (!note) {
                    e.preventDefault(); // Prevent the form from submitting
                    alert('Please enter a product note.');
                    return;
                }
                var shortDescription = $('#ShortDescription').val();
                if (!shortDescription) {
                    e.preventDefault(); // Prevent the form from submitting
                    alert('Please enter a product Short Description.');
                    return;
                }
                var discount = $('#Discount').val();
                if (!discount) {
                    e.preventDefault(); // Prevent the form from submitting
                    alert('Please enter a product discount.');
                    return;
                }
                var oldPrice = $('#OldPrice').val();
                if (!oldPrice) {
                    e.preventDefault(); // Prevent the form from submitting
                    alert('Please enter a product old Price.');
                    return;
                }
                var unitInStock = $('#UnitInStock').val();

                if (!unitInStock) {
                    e.preventDefault(); // Prevent the form from submitting
                    alert('Please enter a product Unit In Stock.');
                    return;
                }
                // Check if a product name is entered

                var selectedCategory = $('#CategoryID').val();

                // Check if a category is selected
                if (!selectedCategory) {
                    e.preventDefault(); // Prevent the form from submitting
                    alert('Please select a category.');
                    return;
                }


                var picture = $('input[name="Picture"]').val();

                // Check if a picture is selected
                if (!picture) {
                    e.preventDefault(); // Prevent the form from submitting
                    alert('Please upload a picture.');
                    return;
                }
                // Prevent the form from submitting normally
                e.preventDefault();

                // Get the form element
                var form = $(this).closest('form')[0];

                // Create a new FormData object
                var formData = new FormData(form);

                // Add the picture file to the FormData object
                var pictureFile = $("#customFile").get(0).files[0];
                formData.append("Picture", pictureFile);

                // Submit form data using Ajax
                $.ajax({
                    url: '@Url.Action("Edit", "Product")',
                    type: 'POST',
                    data: formData,
                    cache: false,
                    contentType: false,
                    processData: false,
                    success: function (result) {
                        if (result.success) {
                            // Handle success response
                            // Reload page or redirect to success page
                            window.location.href = '@Url.Action("Index", "Product")';
                        } else {
                            // Handle error response
                            // Display validation errors

                        }
                    },
                    error: function (xhr, status, error) {
                        // Handle error response
                        // Display error message
                        $('.alert').addClass('alert-danger').text(error);
                    },
                    complete: function () {
                        // Enable submit button
                        $('button[type="submit"]').prop('disabled', false);
                    }
                });

            });

        });
    </script>
}
